{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
   <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <a href="{% url 'book' book.slug %}"><h2>{{ book.name }}</h2></a>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
           <nav>
                {% if left_page %}
                    <a href="{% url 'books-by-date' left_page %}">{{ left_page }}</a>
                {% endif %}
                {% if right_page %}
                   | <a href="{% url 'books-by-date' right_page %}">{{ right_page }}</a>
                {% endif %}
           </nav>
    </div>
{% endblock %}