{% extends "base.html" %}
{% load static %}

{% block title %}Книга - {{ book.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Кaталог книг</a></h1>
        </div>
        <div class="row">
                <div class="book col-md-4">
                    <h1>Книга - {{ book.name }}</h1>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
        </div>
    </div>
{% endblock %}